language: java
jdk:
- oraclejdk8


sudo: required

services:
  - docker


after_success:
  - bash <(curl -s https://codecov.io/bash)


deploy:
  provider: script
  script: bash docker_push
    on:
      branch: master